In [8]:
import pandas as pd
import pickle
import datetime
import os

In [3]:
train = pd.read_pickle('/home/yoshikawa/work/kaggle/OPVP/output/feature_model/20210911/lgbm_No_reduce_mem/train.pkl')
train['stock_id_31'] = 0
idx = train[train.stock_id == 31].index
train.loc[idx, 'stock_id_31'] = 1
train[train.stock_id_31 == 1]

,row_id,target,log_return_realized_volatility,log_return_mean,log_return_std,log_return_up_rate,log_return_last_value,log_return2_realized_volatility,log_return2_mean,log_return2_std,...,diff_stock_id_realized_volatility_100,diff_time_realized_volatility_200,diff_stock_id_realized_volatility_200,diff_time_realized_volatility_300,diff_stock_id_realized_volatility_300,diff_time_realized_volatility_400,diff_stock_id_realized_volatility_400,diff_time_realized_volatility_500,diff_stock_id_realized_volatility_500,stock_id_31
107239,31-5,0.004113,0.005557,-8.143128e-06,0.000240,0.503731,0.000007,0.006532,-8.491956e-06,0.000283,...,0.000571,-0.002026,0.000389,-0.002213,0.000671,-0.002738,0.000690,-0.003649,0.000467,1
107240,31-11,0.000956,0.000616,-2.710388e-07,0.000028,0.430998,-0.000005,0.002773,-2.557839e-07,0.000128,...,-0.002964,-0.000072,-0.002598,-0.000325,-0.002381,-0.000384,-0.001897,-0.000411,-0.001236,1
107241,31-16,0.002127,0.002570,2.975081e-06,0.000118,0.498952,-0.000117,0.004180,3.864273e-06,0.000192,...,-0.001039,-0.000586,-0.001158,-0.000968,-0.001070,-0.001169,-0.000729,-0.002111,-0.000982,1
107242,31-31,0.003748,0.002608,2.918171e-07,0.000125,0.493088,0.000033,0.005815,2.789926e-07,0.000280,...,-0.001219,-0.000413,-0.000946,-0.000637,-0.000702,-0.000943,-0.000464,-0.001309,-0.000142,1
107243,31-62,0.001573,0.002145,9.756810e-08,0.000107,0.498759,0.000035,0.003724,-5.204970e-07,0.000186,...,-0.001450,-0.000271,-0.001267,-0.001139,-0.001666,-0.001211,-0.001195,-0.001528,-0.000823,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111064,31-32751,0.001869,0.003084,5.192609e-06,0.000131,0.483005,-0.000046,0.003188,3.892369e-06,0.000135,...,-0.001627,-0.001313,-0.001371,-0.001407,-0.000995,-0.001475,-0.000521,-0.001928,-0.000285,1
111065,31-32753,0.002934,0.001057,6.810080e-07,0.000046,0.465291,0.000017,0.003555,-2.552295e-07,0.000154,...,-0.002653,-0.000619,-0.002704,-0.000633,-0.002249,-0.000891,-0.001964,-0.000947,-0.001331,1
111066,31-32758,0.003160,0.002214,2.162572e-07,0.000103,0.488223,0.000052,0.002696,-1.979160e-06,0.000125,...,-0.001470,-0.000180,-0.001107,-0.000266,-0.000724,-0.000327,-0.000242,-0.000418,0.000355,1
111067,31-32763,0.004393,0.004628,-4.877156e-06,0.000217,0.473684,0.000009,0.006028,-1.029110e-05,0.000283,...,0.001007,-0.001504,-0.000018,-0.001721,0.000235,-0.001728,0.000771,-0.003047,0.000140,1
111068,31-32767,0.001642,0.002233,3.357137e-06,0.000112,0.478803,-0.000013,0.003388,4.973090e-06,0.000170,...,-0.001350,-0.000059,-0.000968,-0.000062,-0.000501,-0.000413,-0.000309,-0.000433,0.000359,1

In [4]:
dt = datetime.date.today()
fm_path = "../output/feature_model/" + dt.strftime("%Y%m%d")
fm_path += '/nb021'
if not os.path.isdir(fm_path):
    os.makedirs(fm_path)

In [5]:
# pickle.dump(train, open(os.path.join(fm_path, "train.pkl"), 'wb'))

In [6]:
import re
a = 'str_time'
res = re.search("tima$", a)
print(res)

None

In [7]:
train.loc[train.stock_id == 31, ['row_id']]

          row_id
107239      31-5
107240     31-11
107241     31-16
107242     31-31
107243     31-62
...          ...
111064  31-32751
111065  31-32753
111066  31-32758
111067  31-32763
111068  31-32767

[3830 rows x 1 columns]

In [24]:
df_train = pd.read_pickle('/home/yoshikawa/work/kaggle/OPVP/output/feature_model/20210911/lgbm_No_reduce_mem/train.pkl')
final_pred = df_train[['row_id']]

In [25]:
final_pred.head()

  row_id
0    0-5
1   0-11
2   0-16
3   0-31
4   0-62

In [26]:
y_pred = df_train[['row_id']].drop(df_train[df_train.stock_id == 31].index)
y_pred_31 = df_train.loc[df_train.stock_id == 31, ['row_id']]
X_test = df_train.drop(['time_id', 'row_id'], axis=1).drop(df_train[df_train.stock_id == 31].index)
X_test_31 = df_train[df_train.stock_id == 31].drop(['time_id', 'row_id'], axis=1)

y_pred_31

          row_id
107239      31-5
107240     31-11
107241     31-16
107242     31-31
107243     31-62
...          ...
111064  31-32751
111065  31-32753
111066  31-32758
111067  31-32763
111068  31-32767

[3830 rows x 1 columns]

In [38]:
final_pred = df_train[['row_id']]
y_pred = y_pred.assign(target=df_train.drop(df_train[df_train.stock_id == 31].index)['target'])
y_pred_31 = y_pred_31.assign(target=df_train[df_train.stock_id==31]['target'])

final_pred = pd.merge(final_pred, pd.concat([y_pred, y_pred_31]), on='row_id', how='left')
final_pred

           row_id    target
0             0-5  0.004136
1            0-11  0.001445
2            0-16  0.002168
3            0-31  0.002195
4            0-62  0.001747
...           ...       ...
428927  126-32751  0.003461
428928  126-32753  0.003113
428929  126-32758  0.004070
428930  126-32763  0.003357
428931  126-32767  0.002090

[428932 rows x 2 columns]

In [44]:
a = pd.DataFrame({'A':['a', 'b', 'c']})
b = pd.DataFrame({'A':['a', 'b', 'c'], 'B':[1, 2, 3]})
a

   A
0  a
1  b
2  c

In [45]:
pd.concat([a, b])

   A    B
0  a  NaN
1  b  NaN
2  c  NaN
0  a  1.0
1  b  2.0
2  c  3.0